@use "_vars" as *;
@use "_mixins" as *;
@use "components/primary" as *;
@use "components/checkbox" as *;
@use "components/table" as *;
@use "components/config" as *;
@use "components/title" as *;
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

body {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  background: var(--color-bg-light);
}

.not-scrollable {
  overscroll-behavior: none;
}

#navbar {
  color: var(--color-text-on-dark);
  width: 100vw !important;
  z-index: 2;
}

/* Przyjazny kursor dla elementów przeciąganych */
.draggable {
  cursor: grab;
  -webkit-grab: grab;
}

.draggable:active,
.draggable.grabbing {
  cursor: grabbing !important;
  -webkit-grabbing: grabbing !important;
}

html.dragging,
body.dragging {
  cursor: grabbing !important;
}

#temporary-meals-config-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  color: var(--color-bg-dark);
}

.text-primary {
  color: var(--color-primary) !important;
}
